/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: #0b0d10;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 4% 0;
  background-color: rgba(0 , 0, 0, 0.9);
  z-index: 999;
  position: fixed;
}

.header-inner  {
  width: 100%;
  display: inline-block;
  margin: 0 auto;

}

.logo {
  width: 6rem;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.nav-bar {
  display: none;
  height: 100vh;
  list-style-type: none;
  font-size: 1.25rem;
  color: white;
  font-family: "Century Gothic";
  text-align: center;
  transition: all ease 1s;
}

.navbar-show{
  display: block;
  height: 100vh;
  list-style-type: none;
  font-size: 1.25rem;
  color: white;
  font-family: "Century Gothic";
  text-align: center;
  transition: all ease 1s;
}



.navbar-inner {
  list-style-type: none;
  padding: 0;
  display: block;
  position: relative;
  top: 12.5%;
}

nav li {

}

nav a {
  color: white;
  font-family: "Century Gothic";
  text-decoration: none;
  display: block;
  margin: 1rem auto;
  padding: 4% 0;
  width: 65%;
  border: solid;
  border-color: rgba(255, 255, 255, 0);
  border-width: 2px;
}

nav a:hover {
  border-color: rgba(255, 255, 255, 1);
  transition: all ease 0.4s;
}

#contact-link {
  color: #fffb05 ;
  border-color: rgba(255, 251, 5, 0);
}

#contact-link:hover {
  border-color: rgba(255, 251, 5, 1);
  transition: all ease 0.4s;

}

#hbg-menu {
  display: inline-block;
  width: 4.75rem;
  height: 4rem;
  cursor: pointer;
  float: right;
}

.hbg-line {
  width: 45%;
  margin: 0.4rem auto;
  height: 6%;
  background-color: rgba(255,255,255, 0.85);
  position: relative;
  display: block;
  top: 20%;

}



/*First section---------*/

#cover {
  position: relative;
  height: 100vh;
  width: 100%;
  max-height: 100vh;
  background: url("../Resources/homecover.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: 35% 50%;
  overflow: hidden;
  background-repeat: no-repeat;
}

  #cover-area {
    width: 70%;
    display: block;
    margin: 0 auto;
  }

#cover h1 {
  font-size: 3.5em;
  color: white;
  display: block;
  font-family: "Century Gothic";
  position: relative;
  margin: 0 auto;
  margin-top: 32.5vh;
  margin-bottom: 0;
  line-height: 1em;
  white-space: nowrap;
}

#cover h1 span {
 color: #fffb05;
 font-weight: normal;
}

#mountain {
  z-index: 8;
  position: absolute;
  height: 40%;
  right: 0;
  bottom: 0;
}

#ask-us-btn {
  position: absolute;
  display: block;
  font-size: 1.5rem;
  border: solid;
  border-color: white;
  border-width: 2px;
  font-family: "Century Gothic";
  font-weight: normal;
  margin: 0 auto;
  top: 60vh;
  white-space: nowrap;
  width: 70vw;
  padding: 3% 5%;
  /* Button fill colour transition  */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease;
  color: white;
  z-index: 9;
  box-sizing: border-box;

}

#ask-us-btn:hover {
  background-position: left bottom;
  color: #0b0d10;
  cursor: pointer;

}

#ask-us-btn a {
  text-decoration: none;
  color: white;

}

#ask-us-btn img {
  position: absolute;
  width: 8%;
  display: inline-block;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

/*About Us Section----------------*/

#aboutUsSec {
  position: relative;
  width: 100%;
  background-color: white;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 5rem;
}

#aboutUsSec-container {
  display: block;
  width: 70%;
  margin: 0 auto;
  font-family: "Century Gothic";
  color: #0b0d10;
}

#aboutUsSec-container h2 {
  font-size: 3rem;
  margin-top: 3.5rem;
  margin-bottom: 2.5rem;
  line-height: 100%;
  display: block;
}

#aboutUsSec-container p {
  width: 100%;
  text-align: justify;
  font-size: 1.1rem;
  margin-top: 10%;
  margin-bottom: 2.5rem;
  display: block;

}

#aboutUs-pSec {
  left: 0;
  width: 100%;
  display: block;

}

#aboutUsBtn a {
  display: block;
  text-decoration: none;
  border: solid;
  border-color: #0b0d10;
  border-width: 2px;
  white-space: nowrap;
  text-align: center;
  font-size: 1.1rem;
  padding: 4% 7%;
  text-decoration: none;
  /* Transition */
  color: #0b0d10;
  background: linear-gradient(to right, rgba(11, 13, 6, 1) 50%, rgba(11, 13, 6, 0) 50%);
  background-size: 205% 105%;
  background-position: right bottom;
  transition: all 0.5s ease;
}

  #aboutUsBtn a:hover {
    background-position: left bottom;
    color: white;
    cursor: pointer;
  }

  #laptop-img {
    position: relative;
    display: block;
    margin-top: 5rem;
    width: 45%;
    height: 35%;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    opacity: 100%;
    transition: all ease 0.5s;
    min-width: 300px;
    margin-left: 0;
    right: 7%;

  }

  #laptop-img:hover {
    width: 48%;
    height: 37%;
    opacity: 85%;
  }

  .bounce1 {
  animation-name: bounce1;
  animation-timing-function: ease-in-out;
}
@keyframes bounce1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10%); }
    100% { transform: translateY(0); }
}

/*Services----------------*/

  #servicesSec {
    height: auto;
    background-color: white;
    display: block;
    border-top: solid 0.35px rgba(0,0,0,0.5);
    padding-bottom: 2rem;
  }

  

  #servicesSec-container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }

  #servicesSec h3 {
    font-size: 3rem;
    padding: 2rem 0;
    margin: 0 auto;
    margin-bottom: 2%;
    font-family: "Century Gothic";
    font-size: 1.8em;

  }

  #fourSContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 4%;

  }

  .serviceBox {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 30vh;
    overflow: hidden;
    border-bottom: solid;
    border-width: 10px;
    border-color: #fffb05;
    margin: 7% 0;
    cursor: pointer;
    -webkit-box-shadow: 0px 9px 20px -3px rgba(145,145,145,0.91);
    -moz-box-shadow: 0px 9px 20px -3px rgba(145,145,145,0.91);
    box-shadow: 0px 9px 20px -3px rgba(145,145,145,0.91);

  }



  .serviceBox img {
    display: block;
    width: 175%;
    left: -50%;
    height: auto;
    transform: translateX(-30%);
    transition: .5s ease;

  }

  .serviceOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(11, 13, 16, 0.65);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;

  }

  .serviceBox:hover .serviceOverlay {
    width: 0;

  }

  .serviceBox:hover img {
    width: 210%;

  }

  .serviceBox h6 {
    color: white;
    padding: 0.7em;
    font-size: 1.34em;
    font-family: "Century Gothic";
    border: solid;
    border-width: 3.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
    margin: 0;

  }




/*    #fourSContainer div {
    width: 24%;
    height: 24vmin;
    background-color: rgba(11, 13, 16);
    overflow:hidden;

  }

  #fourSContainer a {
    font-size: 1.3vw;
    font-weight: bold;
    font-family: "Century Gothic";
    color: white;
    text-decoration: none;
    text-align: center;
    position: relative;

  }


  #brandID-img {
    background: url("https://www.fujifilm.com/products/digital_cameras/x/fujifilm_x_pro2/sample_images/img/index/ff_x_pro2_001.JPG");
    background-size: 200%;
    background-repeat: no-repeat;
    opacity: 20%;
  }  */


/*-------Contact Section------*/

#contactSec {
  width: 100%;
  margin: 0 auto;
  background: url("../Resources/contactBG.png");
  background-repeat: none;
  background-size: cover;
}

#contact-container {
  width: 70%;
  margin: 0 auto;

}

#contactHead {
  padding: 2rem 0 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact-container h2 {
  font-size: 2.5rem;
  margin: 0;
  font-family: "Century Gothic";
  color: white;
  float: left;
}

#backTopBtn {
  display: none;
  justify-content: space-between;
  align-items: center;
  font-family: "Century Gothic";
  text-decoration: none;
  border: solid;
  border-color: #fffb05;
  border-width: 3px;
  white-space: nowrap;
  text-align: center;
  font-size: 1.4em;
  padding: 1.5% 3%;
  text-decoration: none;
  float: right;
  width: 30%;
  text-align: left;
  /* Transition */
  color: #0b0d10;
  background: linear-gradient(to right, rgba(255, 251, 5, 1) 50%, rgba(255, 251, 5, 0) 50%);
  background-size: 205% 105%;
  background-position: right bottom;
  transition: all 0.5s ease;
}

#backTopBtn:hover {
  background-position: left bottom;
  color: black;
  cursor: pointer;
}

#backTopBtn p {
  margin: 0;
  color: #fffb05;
  transition: all 0.5s ease;
}

#backTopBtn:hover p {
  background-position: left bottom;
  color: #0b0d10;
  cursor: pointer;
}

#backTopBtn img {
  width: 9%;
  height: 12%;
}

#contact-container form {
  padding-bottom: 5%;
}

.formInput {
  width: 100%;
  margin: 0.5rem 0;
  padding: 4%;
  font-size: 1.25rem;
  font-weight: normal;
  font-family: "Century Gothic";
  min-width: 100%;
  min-height: 1.2em;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  box-sizing: border-box;
}

#contact-container textarea {
  height: 17rem;
  min-height: 150px;
}

#formSubmit {
  width: 100%;
  margin-bottom: 2.5rem;
  padding: 3%;
  font-size: 1.4em;
  font-weight: normal;
  font-family: "Century Gothic";
  font-weight: bolder;
  min-height: 1.2em;
  background-color: #fffb05;
  border: none;
  color: #0b0d10;
  cursor: pointer;
  transition: all ease 0.35s;
}

  #formSubmit:hover {
    background-color: rgba(255, 251, 5, 0);
    color: #fffb05;
    box-shadow:inset 0px 0px 0px 3px #fffb05;

  }


    /*Client Logo Section----------------*/

    #clientLogoSec {
      width: 100%;
      background-color: #e3e3e3;
    }

    #clientLogoSec div {
      margin: auto;
      width: 70%;
      display: block;
      padding: 7vh;
    }

    #ajlogo {
     width: 60%;
     margin: 0 auto;
     display: block;
     margin-bottom: 2.5rem;
     opacity: 60%;
    }

    #esqlogo {
      width: 70%;
      margin: 0 auto;
      display: block;
      margin-bottom: 2.5rem;
      opacity: 60%;

    }

    #tubologo {
      width: 32%;
      margin: 0 auto;
      display: block;
      margin-bottom: 2.5rem;
      opacity: 60%;

    }

    #ktchnlogo {
      width: 50%;
      margin: 0 auto;
      display: block;
      opacity: 60%;

    }



/* Services Page -----------------------------------------------------------------------------------------------------------------------*/

.page-banner {
    display: block;
    width: 100%;
    font-family: "Century Gothic";
    padding: 35% 0 15% 0;

    
}

#services-banner {
    background: url("../Resources/services-banner-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.page-section {
    display: block;
    color: #0b0d10;
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: "Century Gothic";
    background-color: white;
}


.section-container {
    display: block;
    width: 70%;
    height: auto;
    padding: 2rem 0;
    margin: 0 auto;
}

.page-heading {
  font-size: 3rem;
  display: block;
  color: #0b0d10;
  text-align: center;
  margin: 0 auto;
  color: white;
}


.services-img-box {
    width: 100%;
    height: auto;
    overflow: hidden; 
}

.services-img-box img {
    width: 100%;
}

.service-box:first-child {
    padding-top: 0;
}

.service-box {
    padding: 2rem 0;
}

.page-sub-headings {
    font-size: 1.75rem;
    display: block;
}

.page-paragraph {
    font-size: 1.1rem;
    text-align: justify;
    margin-bottom: 3rem;
}

.page-slide-buttons a {
  display: block;
  border: solid;
  border-color: #0b0d10;
  border-width: 2px;
  white-space: nowrap;
  text-align: center;
  font-size: 1.1rem;
  padding: 4% 7%;
  text-decoration: none;
  /* Transition */
  color: #0b0d10;
  background: linear-gradient(to right, rgba(11, 13, 6, 1) 50%, rgba(11, 13, 6, 0) 50%);
  background-size: 205% 105%;
  background-position: right bottom;
  transition: all 0.5s ease;
}

  .page-slide-buttons a:hover {
    background-position: left bottom;
    color: white;
    cursor: pointer;
      
  }

#getintouch-services {
    margin-bottom: 1rem;
}

/*About Us--------------------------------------------------------------------------------------------------------------------------------------------------------*/


.about-section-container {
    display: block;
    width: 100%;
    height: auto;
    padding: 2rem 0 0 0;
    margin: 0 auto;
    text-align: 
}

.about-section-container:nth-child(even) {
    background-color: #e3e3e3;
}

.about-section-inner {
    width: 70%;
    margin: 0 auto;
}

.about-section-container img {
    display: inline-block;
    width: 50%;
}

.about-images {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
}


#about-banner {
    background: url("../Resources/aboutbanner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#review-heading {
    text-align: center;
}

#review-heading:before {
    content: ' \22C6';
}

#review-heading:after {
    content: ' \22C6';
}

.quoteslide-container {
    background: #e3e3e3;
    position: relative;
}

.quote-slides {
    display: none;
    padding: 7%;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.1rem;
}

.quote-slides q {
    font-style: italic;
}

.quote-slides p {
    font-weight: bold;
}

.previous-q, .next-q {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: ;
    width: auto;
    padding: 1rem;
    font-size: 3rem;
    user-select: none;
}

.next-q {
    right: 0;
}



/*Footer section----------------------*/

  footer {
    width: 100%;
    margin: 0 auto;
    border-top: solid 0.35px rgba(255,255,255,0.5);
}

  #footerContainer {
    width: 70%;
    margin: 0 auto;
    display: block;
    padding: 1rem;
  }

  #footerDetails {
    width: 100%;
    display: block;
    font-size: 1.15rem;
    text-align: center;
    font-weight: normal;
    font-family: "Century Gothic";
    color: white;
    align-items: center;
  }

  .footerSocial {
    width: 4.5vh;
    display: block;
    margin: 0 auto;
  }






/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  body {
    background: #0b0d10;
  }
}

/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  header {
    background-color: rgba(0 , 0, 0, 0);
    padding: 0.5% 0;
    transition: all ease 0.4s;

  }


  .header-inner  {
    width: 60%;
    display: inline-block;
    margin: 0 auto;
    float: right;
    transition: all ease 0.4s;

  }

  .logo {
    width: 6rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all ease 0.4s;

  }

  .header-scroll {
    background-color: rgba(0 , 0, 0, 0.85);
    padding: 0;
    transition: all ease 0.4s;

  }


  .logo-scroll {
    width: 4.25rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all ease 0.4s;


  }

  .nav-bar {
    display: inline-block;
    height: auto;
    font-size: 1.05rem;
    transition: all ease 1s;
    width: 65%;
    float: right;
  }


  .navbar-inner {
    list-style-type: none;
    padding: 0;
    display: block;
    position: relative;
    top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1.5% 0;
    transition: all ease 0.4s;

  }

  .navbar-inner-scroll {
    margin: auto;
    transition: all ease 0.4s;

  }

  nav li {
    display: inline-block;

  }

  nav a {
    color: white;
    font-family: "Century Gothic";
    text-decoration: none;
    padding: 0.65vw 1vw;
    width: auto;

  }

  nav a:hover {

  }


  #contact-link {
    color: #fffb05 ;
    border-color: rgba(255, 251, 5, 0);
  }

  #contact-link:hover {
    border-color: rgba(255, 251, 5, 1);
    transition: all ease 0.4s;

  }

  #hbg-menu {
    display: none;

  }



  /*First section---------*/

  #cover {
    background-position: 50% 50%;
    overflow: hidden;
    background-repeat: no-repeat;
  }

    #cover-area {
      width: 60%;
    }

  #cover h1 {
    font-size: 5.5rem;
    margin-top: 30vh;
  }


  #mountain {
    height: 69%;

  }

  #ask-us-btn {
    top: 65vh;
    width: auto;
    min-width: auto;
    padding: 0.75% 1.2%;
    white-space: wrap;

  }


  #ask-us-btn a {
    font-size: 1.5rem;
  }

  #ask-us-btn img {
    width: 1.35rem;
    margin-left: 2rem;
    right: auto;
    top: 0;
    transform: translateY(0);
    position: relative;
    display: inline-block;
  }


  /*About Us Section----------------*/

  #aboutUsSec {
    width: 100%;
    padding-bottom: 5rem;
  }

  #aboutUsSec-container {
    width: 60%;
  }


  #aboutUsSec-container h2 {
    font-size: 4.4rem;
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
    line-height: 100%;
    display: block;
  }

  #aboutUsSec-container p {
    width: 100%;
    font-size: 1.4rem;
    margin-top: auto;
    margin-bottom: 2.5rem;

  }


  #aboutUs-pSec {
    width: 45%;
    display: inline-block;
    float: left;
  }



  #aboutUsBtn a {
    display: inline-block;
    font-size: 1.4rem;
    padding: 2% 5%;

  }

    #aboutUsBtn a:hover {

    }

    #laptop-img {
      display: inline-block;
      margin-top: 6rem;
      width: 45%;
      height: 35%;
      float: right;
      right: 0;

    }

    #laptop-img:hover {
      width: 48%;
      height: 37%;
      opacity: 85%;
    }

    .bounce1 {
    animation-name: bounce1;
    animation-timing-function: ease-in-out;
  }
  @keyframes bounce1 {
      0%   { transform: translateY(0); }
      50%  { transform: translateY(-10%); }
      100% { transform: translateY(0); }
  }

  /*Services----------------*/

    #servicesSec {
      padding-bottom: 1rem;
      background-color: #f0f0f0;

    }

    #servicesSec-container {
      width: 60%;
      padding: 2em;
    }

    #servicesSec h3 {
      font-size: 2.5rem;
      padding: 0;
      margin-bottom: 2.5rem;

    }

    #fourSContainer {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

    }

    .serviceBox {
      position: relative;
      display: inline-block;
      width: 23%;
      height: 13.5vw;
      margin: auto;

    }



    .serviceBox img {
      display: block;
      width: 175%;
      left: -50%;
      height: auto;
      transform: translateX(-30%);
      transition: .5s ease;

    }

    .serviceOverlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(11, 13, 16, 0.65);
      overflow: hidden;
      width: 100%;
      height: 100%;
      transition: .5s ease;
    }

    .serviceBox:hover .serviceOverlay {
      width: 0;
    }

    .serviceBox:hover img {
      width: 210%;

    }

    .serviceBox h6 {
      color: white;
      padding: 0.7em;
      font-size: 1.34em;
      font-family: "Century Gothic";
      border: solid;
      border-width: 3px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      white-space: nowrap;
      margin: 0;

    }


    /*-------Contact Section------*/

    #contactSec {
      width: 100%;
      margin: 0 auto;
      background: url("../Resources/contactBG.png");
      background-repeat: none;
      background-size: cover;
    }

    #contact-container {
      width: 70%;
      margin: 0 auto;

    }

    #contactHead {
      padding: 2rem 0 1rem 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    #contact-container h2 {
      font-size: 2.5rem;
      margin: 0;
      font-family: "Century Gothic";
      color: white;
      float: left;
    }

    #backTopBtn {
      display: none;
      justify-content: space-between;
      align-items: center;
      font-family: "Century Gothic";
      text-decoration: none;
      border: solid;
      border-color: #fffb05;
      border-width: 3px;
      white-space: nowrap;
      text-align: center;
      font-size: 1.4em;
      padding: 1.5% 3%;
      text-decoration: none;
      float: right;
      width: 30%;
      text-align: left;
      /* Transition */
      color: #0b0d10;
      background: linear-gradient(to right, rgba(255, 251, 5, 1) 50%, rgba(255, 251, 5, 0) 50%);
      background-size: 205% 105%;
      background-position: right bottom;
      transition: all 0.5s ease;
    }

    #backTopBtn:hover {
      background-position: left bottom;
      color: black;
      cursor: pointer;
    }

    #backTopBtn p {
      margin: 0;
      color: #fffb05;
      transition: all 0.5s ease;
    }

    #backTopBtn:hover p {
      background-position: left bottom;
      color: #0b0d10;
      cursor: pointer;
    }

    #backTopBtn img {
      width: 9%;
      height: 12%;
    }

    #contact-container form {
      padding-bottom: 5%;
    }

    .formInput {
      width: 100%;
      margin: 0.5rem 0;
      padding: 4%;
      font-size: 1.25rem;
      font-weight: normal;
      font-family: "Century Gothic";
      min-width: 100%;
      min-height: 1.2em;
      background-color: rgba(255, 255, 255, 0.2);
      border: none;
      color: white;
      box-sizing: border-box;
    }

    #contact-container textarea {
      height: 17rem;
      min-height: 150px;
    }

    #formSubmit {
      width: 100%;
      margin-bottom: 2.5rem;
      padding: 3%;
      font-size: 1.4em;
      font-weight: normal;
      font-family: "Century Gothic";
      font-weight: bolder;
      min-height: 1.2em;
      background-color: #fffb05;
      border: none;
      color: #0b0d10;
      cursor: pointer;
      transition: all ease 0.35s;
    }

      #formSubmit:hover {
        background-color: rgba(255, 251, 5, 0);
        color: #fffb05;
        box-shadow:inset 0px 0px 0px 3px #fffb05;

      }


        /*Client Logo Section----------------*/

        #clientLogoSec {
          width: 100%;
          background-color: #e3e3e3;
        }

        #clientLogoSec div {
          width: 60%;
          padding: 6vh 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        #ajlogo {
         width: 22%;
         height: 22%;
         margin: 0;
         display: inline-block;
         margin-bottom: auto;
        }

        #esqlogo {
          width: 25%;
          height:  25%;
          margin: 0;
          display: inline-block;

        }

        #tubologo {
          width: 8%;
          height: 8%;
          margin: 0;
          display: inline-block;
          margin-bottom: auto;

        }

        #ktchnlogo {
          width: 16%;
          height: 16%;
          margin: 0;
          display: inline-block;

        }


        /*-------Contact Section------*/

        #contactSec {
          padding: 2% 0;
        }

        #contact-container {
          width: 60%;

        }

        #contactHead {
          padding: 0 0 1rem 0;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        #contact-container h2 {
          font-size: 4.4rem;
          margin: 0;

        }

        #contact-container form {
          padding-bottom: auto;
        }

        .formInput {
          margin: 0.75rem 0;
          padding: 1%;
          font-size: 1.4rem;

        }

        #contact-container textarea {
          height: 10rem;
          margin-bottom: 2rem;

        }

        #formSubmit {
          width: auto;
          margin-bottom: auto;
          padding: 0.7% 7%;
          font-size: 1.4em;

        }

          #formSubmit:hover {


  }
    
    /* Services Page -----------------------------------------------------------------------------------------------------------------------*/

.page-banner {
    width: 100%;
    padding: 10% 0 7% 0;
    background-position: left;
    
}

.page-section {

    
}


.section-container {
    display: block;
    width: 60%;
    padding: 2rem 0;
}

.page-heading {
  font-size: 5.5rem;
}


.services-img-box {
    width: 30%;
    margin: 0 auto; 
}
    


.services-img-box img {
}


.service-box {
    padding: 0;
    border-bottom: solid #dedede 2px;
    padding-bottom: 4rem;
}

.service-box:nth-child(4) {
    border: none;
}
 
.page-sub-headings {
    font-size: 3.5rem;
    text-align: center;
}

.page-paragraph {
    width: 100%;
    font-size: 1.4rem;
 
}
    


.page-slide-buttons a {
  display: inline-block;
  font-size: 1.4rem;
  padding: 2% 15%;
  
}

  .page-slide-buttons a:hover {

      
  }

#getintouch-services {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
    


  /*Footer section----------------------*/

    footer {
      width: 100%;
      margin: 0 auto;
      border-top: solid 0.35px rgba(255,255,255,0.5);
      display: inline-block;
      padding: 2rem;
      box-sizing: border-box;
  }

    #footerContainer {
      width: 60%;
      display: block;
      padding: 0;
      margin: auto;

    }

    #footerDetails {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 1.15rem;
      font-weight: normal;
      align-items: center;
      padding: 0;
      margin-bottom: 2rem;
      opacity: 70%;
    }

    #footerDetails p {
      margin: 0;

    }

    .footerSocial {
      width: 4vh;
      display: block;
      margin: 0 auto  ;

    }
