/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: #fcc;
}



/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  body {
    background: #cfc;
  }
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
    margin: 0;

  }

  nav {
    position: fixed;
    width: 100%;
    background-color: red;
    height: 15%;
  }

  #nav-container {
    width: 60%;
    margin: 1.25% 20%;
  }

  #nav-buttons {
    position: relative;
    display: flex;
    justify-content: space-between;
    float:right;
    font-size: 1.152vw;
    font-family: "Century Gothic";
    padding: 0.1% 2%;
    width: 65%;
    margin-top: 1%;

  }
  nav div a {
    padding: 3% 3%;
    word-wrap: normal;
  }

  #abn-nav {
    width: 12%;
    display: inline;
    float: left;

  }
}
